* {
	margin: 0;
	padding: 0;
}
.Login__bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: rgb(78, 159, 61);
	background: radial-gradient(
		circle,
		rgba(78, 159, 61, 1) 0%,
		rgba(25, 26, 25, 1) 100%
	);
}
.Login__button {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #191a19;
	color: #d8e9a8;
	border: none;
	font-weight: 900;
	transition: all 0.2s ease-in;
	cursor: pointer;
	font-family: "Red Hat Mono", monospace;
}
.Login__button:hover {
	background-color: #4e9f3d;
}
